<h1>Ändrar square</h1>

<% form_for(@square) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :card_id %><br />
    <%= f.text_field :card_id %>
  </p>
  <p>
    <%= f.label :claim_id %><br />
    <%= f.text_field :claim_id %>
  </p>
  <p>
    <%= f.label :used %><br />
    <%= f.check_box :used %>
  </p>
  <p>
    <%= f.submit 'Uppdatera' %>
  </p>
<% end %>

&larr; <%= link_to 'Tillbaka', squares_path %> eller <%= link_to 'Visa', @square %>