<h1>Editing square</h1>

<% form_for(@square) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :card_id %><br />
    <%= f.text_field :card_id %>
  </p>
  <p>
    <%= f.label :claim_id %><br />
    <%= f.text_field :claim_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @square %> |
<%= link_to 'Tillbaka', squares_path %>