<h1>Alla rutor</h1>

<table>
  <tr>
    <th>Bingobricka</th>
    <th>Påstående</th>
    <th class="used_column">Har hänt?</th>
  </tr>

<% @squares.each do |square| %>
  <tr>
    <td>
    <% if square.card.nil? %>
      Ingen bricka.
    <% else %>
      <%= link_to h(square.card.owner), square.card %>
    <% end %>
    </td>
    <td>
    <% if square.claim.nil? %>
      Inget påstående.
    <% else %>
      <%= link_to square.claim.name, square.claim %>
    <% end %>
    </td>
    <td>
      <% if square.used == true %>
        Ja
      <% else %>
        Nej
      <% end %>
    </td>
    <td class="show_column"><%= link_to 'Visa', square %></td>
    <td class="edit_column"><%= link_to 'Ändra', edit_square_path(square) %></td>
    <td class="delete_column"><%= link_to 'Ta bort', square, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny ruta', new_square_path %>