<h1>Alla rutor <span class="index_row_count"><%= @squares.length %>st</span></h1>

<table id="squares_table" class="index_table">
  <tr>
    <th>Bingobricka</th>
    <th>Påstående</th>
    <th class="used_column">Har hänt?</th>
    <th class="show_column"></th>
    <th class="edit_column"></th>
    <th class="delete_column"></th>
  </tr>

<% @squares.each do |square| %>
  <tr>
    <td>
    <% if square.card.nil? %>
      Ingen bricka.
    <% else %>
      <%= link_to h(square.card.owner), square.card %>
    <% end %>
    </td>
    <td>
    <% if square.claim.nil? %>
      Inget påstående.
    <% else %>
      <%= link_to square.claim.name, square.claim %>
    <% end %>
    </td>
    <td>
      <% if square.used == true %>
        Ja
      <% else %>
        Nej
      <% end %>
    </td>
    <td class="show_column"><%= link_to 'Visa', square %></td>
    <td class="edit_column"><%= link_to 'Ändra', edit_square_path(square) %></td>
    <td class="delete_column"><%= link_to 'X', square, :confirm => 'Är du säker? Det finns ingen ångra-knapp. ', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ Ny ruta', new_square_path %>