<h1>Listing squares</h1>

<table>
  <tr>
    <th>Card</th>
    <th>Claim</th>
    <th>Used?</th>
  </tr>

<% @squares.each do |square| %>
  <tr>
    <td><%=h square.card_id %></td>
    <td><%=h square.claim_id %></td>
    <td>
      <% if square.used == true %>
        Yes
      <% else %>
        No
      <% end %>
    </td>
    <td><%= link_to 'Visa', square %></td>
    <td><%= link_to 'Ändra', edit_square_path(square) %></td>
    <td><%= link_to 'Ta bort', square, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New square', new_square_path %>