<h1>Editing claim</h1>

<% form_for(@claim) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @claim %> |
<%= link_to 'Tillbaka', claims_path %>