<h1>Ändrar påstående</h1>

<% form_for(@claim) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Själva påståendet' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Uppdatera' %>
  </p>
<% end %>

<%= link_to 'Visa', @claim %> |
<%= link_to 'Tillbaka', claims_path %>