<h1>Ändrar påstående</h1>

<% form_for(@claim) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Uppdatera' %>
  </p>
  
<% end %>

&larr; <%= link_to 'Tillbaka', claims_path %> eller <%= link_to 'Visa', @claim %>