<h1>Alla påståenden</h1>

<table id="claims_table">
  <tr>
    <th>Påstående</th>
    <th>Hänt enligt</th>
  </tr>

<% @claims.each do |claim| %>
  <tr>
    <td><%=h claim.name %></td>
    <td class="used_column"><%=h claim.used_squares.length %> st</td>
    <td class="show_column"><%= link_to 'Visa', claim %></td>
    <td class="edit_column"><%= link_to 'Ändra', edit_claim_path(claim) %></td>
    <td class="delete_column"><%= link_to 'Ta bort', claim, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt påstående', new_claim_path %>