<h1>Alla påståenden <span class="index_row_count"><%= @claims.length %>st</span></h1>

<table id="claims_table" class="index_table">
  <tr>
    <th class="claim_column">Påstående</th>
    <th class="used_column">Hänt enligt</th>
    <th class="used_percent_column">%</th>
    <th class="show_column"></th>
    <th class="edit_column"></th>
    <th class="delete_column"></th>
  </tr>

<% @claims.each do |claim| %>
  <tr>
    <td class="claim_column">
      <%=h claim.name %>
    </td>
    <td class="used_column">
      <%=h claim.used_squares.length %> av <%=h claim.squares.length %>
    </td>
    <td class="used_percent_column">
      <%= "%.f\%" % (claim.percent_used * 100) %>
    </td>
    <td class="show_column">
      <%= link_to 'Visa', claim %>
    </td>
    <td class="edit_column">
      <%= link_to 'Ändra', edit_claim_path(claim) %>
    </td>
    <td class="delete_column">
      <%= link_to 'X', claim, :confirm => 'Är du säker? Det finns ingen ångra-knapp. ', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt påstående', new_claim_path %>