<h1>Nytt påstående</h1>

<% form_for(@claim) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, 'Själva påståendet' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Tillbaka', claims_path %>