<h1><%=h @claim.name %></h1>

<!--
<p>
  <b>Själva påståendet:</b>
  <%=h @claim.name %>
</p>
-->

<% if @claim.used_squares.length > 0 %>
  
  <h4>Detta har hänt enligt:</h4>
  
  <ul>
  <% for square in @claim.used_squares %>
    <li>
      <% if square.card.nil? %>
        Bingobrickan saknas.
      <% else %>
        <%= link_to "#{square.card.owner} (bricka #{square.card.id})", square.card %>
      <% end %>
    </li>
  <% end %>
  </ul>

<% else %>

  <p>Ingen har markerat detta påstående som uppfyllt än.</p>

<% end %>

<% if @claim.squares.length > 0 %>
  
  <h4>Påståendet finns på dessa brickor:</h4>
  
  <ul>
  <% for square in @claim.squares %>
    <li>
      <% if square.card.nil? %>
        Bingobrickan saknas.
      <% else %>
        <%= link_to "#{square.card.owner} (bricka #{square.card.id})", square.card %>
      <% end %>
    </li>
  <% end %>
  </ul>

<% else %>

  <p>Detta påstående finns inte på någon bingobricka ännu.</p>

<% end %>

&larr; <%= link_to 'Tillbaka', claims_path %> eller <%= link_to 'Ändra', edit_claim_path(@claim) %>