<p>
  <%= f.label :name, 'Vad ska omgången heta?' %><br />
  <%= f.text_field :name %>
</p>

<h4>Hur stora ska bingobrickorna vara?</h4>
<ul id="round_card_size_radio_buttons">
  <% for i in 2..5 do %>
    <li>
      <label for="round_card_size_<%= i * i %>">
      
      <%- if (i * i) == 4 -%>
        Små
      <%- elsif (i * i) == 9 -%>
        Normala
      <%- elsif (i * i) == 16 -%>
        Stora
      <%- elsif (i * i) == 25 -%>
        Jättestora
      <%- end -%>
      
      <table class="round_card_size_table">
      <% for j in 1..i do %>
      <tr>
        <% for k in 1..i do %>
        <td></td>
        <% end %>
      </tr>
      <% end %>
      </table>
      
      <%= f.radio_button :card_size, (i*i) %>
      
      </label>
    </li>
  <% end %>
  
</ul>

<h4>Vilka typer av påståenden ska vara med i omgången?</h4>
<ul class="checkbox-list">
  <% for tag in Tag.all(:order => :name) -%>
    <li>
      <label class="checkbox_label">
      <%= check_box_tag "round[tag_ids][]", tag.id, @round.tags.include?(tag) -%>
      <%= tag.name -%>
      </label>
      <%- unless tag.claims.empty? -%>
      <span class="description">
      <%= tag.claims.length %> påstående<%- if tag.claims.length != 1 -%>n<%- end -%>
      </span>
      <%- end -%>
    </li>
  <% end -%>
</ul>

<!--
<p class="description">
  Omgångens bingobrickor kan bara få påståenden från de taggar du valt.
</p>
-->