<h1>Editing round</h1>

<% form_for(@round) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Uppdatera' %>
  </p>
  
<% end %>

&larr;
<%= link_to 'Tillbaka', rounds_path %>
eller
<%= link_to 'Visa', @round %>