<h1><%=h @round.name %></h1>

<p>Påståenden från:</p>
<% if @round.tags.length == 0 %>
  <p>Inga taggar.</p>
<% else %>
  <ul>
  <% for tag in @round.tags %>
    <li><%= link_to tag.name, tag %> (<%= tag.claims.length %> påstående<%- if tag.claims.length != 1 -%>n<%- end -%>)</li>
  <% end %>
  </ul>
<% end %>

<h2>Bingobrickorna:</h2>
<% if @round.cards.length == 0 %>
  <p>Inga bingobrickor i denna omgången.</p>
<% else %>
  <%= render :partial => '/cards/rounds_table', :locals => { :cards => @round.cards } %>
<% end %>

<p><%= link_to '+ Ny bingobricka', {:controller => :cards, :action => :new, :round_id => @round.id}, { :class => 'button new' } %></p>


<p>
&larr; <%= link_to 'Tillbaka', rounds_path %> eller
<%= link_to 'Ändra', edit_round_path(@round) %>
</p>