<h1><%=h @round.name %></h1>

<% if @round.cards.length == 0 %>
  <p>Inga bingobrickor i denna omgången.</p>
<% else %>
  <p>Innehåller dessa bingobrickor:</p>
  <%= render :partial => '/cards/table', :locals => { :cards => @round.cards } %>
<% end %>


<% form_for(@card) do |f| %>
  <h3>Skapa nytt kort för denna omgången:</h3>
  <%= f.error_messages %>
  
  <%= f.hidden_field :round_id, { :value => @round.id } %>
  
  <p>
    <%= f.label :owner, 'Vad heter du?' %><br/>
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.submit 'Ge mig en bingobricka &rarr;' %>
  </p>
<% end %>

&larr; <%= link_to 'Tillbaka', rounds_path %> eller
<%= link_to 'Ändra', edit_round_path(@round) %>