<h1>Editing tag</h1>

<% form_for(@tag) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Uppdatera' %>
  </p>
<% end %>

&larr;
<%= link_to 'Tillbaka', tags_path %>
eller
<%= link_to 'Visa', @tag %>