<h1>Alla taggar <span class="index_row_count"><%= @tags.length %>st</span></h1>

<table class="index_table">
  <tr>
    <th>Namn</th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to h(tag.name), tag %></td>
    <td class="edit_column"><%= link_to 'Ändra', edit_tag_path(tag) %></td>
    <td class="delete_column"><%= link_to 'X', tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ Ny tagg', new_tag_path, { :class => 'button new' } %>