<h1><%=h @tag.name %></h1>

<% if @tag.claims.length == 0 %>
  <p>Inget taggat som <%=h @tag.name %> ännu.</p>
<% else %>

  <h3>Taggat som <%=h @tag.name %>:</h3>
  <ul>
  <% for claim in @tag.claims %>
    <li><%= link_to h(claim.name), claim %></li>
  <% end %>
  </ul>

<% end %>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>