<h1><%=h @tag.name %></h1>

<% if @tag.claims.length == 0 %>
  <p>Inga påståenden har taggats som <%=h @tag.name %> ännu.</p>
<% else %>

  <h3>Påståenden med denna tagg:</h3>
  <ul>
  <% for claim in @tag.claims %>
    <li><%= link_to h(claim.name), claim %></li>
  <% end %>
  </ul>

<% end %>

&larr;
<%= link_to 'Tillbaka', tags_path %>
eller
<%= link_to 'Ändra', edit_tag_path(@tag) %>