<h1>Bingobricka nr <%= @card.id %></h1>
<p>
  Brickan skapades av <%=h @card.owner %>.
</p>

<%
  num_squares = @card.squares.length - 1
%>

<table class="card_squares_table">
<% for i in 0..num_squares do %>
  
  <% if i % 3 == 0 %>
    <tr>
  <% end %>
  
  <% if @card.squares[i].used == true %>
  <td class="square used" id="square_<%= @card.squares[i].id %>">
  <% else %>
  <td class="square" id="square_<%= @card.squares[i].id %>">
  <% end %>
  
    <a href="/squares/<%= @card.squares[i].id %>/daub">
      <% if @card.squares[i].claim.nil? %>
        <strong>Fel!</strong> <br/> Påstående saknas.
      <% else %>
        <%= @card.squares[i].claim.name %>
      <% end %>
    </a>
    
  </td>
  
  <% if i % 3 == 2 %>
    </tr>
  <% end %>
  
<% end %>
</table>

&larr; <%= link_to 'Tillbaka', cards_path %> eller <%= link_to 'Ändra', edit_card_path(@card) %>